DB_HOST=db.mobilgroup.cz
DB_USER=fhb_maintain
DB_PASSWORD=
DB_NAME=
DB_PORT=3306

# Microsoft Office 365 OAuth credentials
MS_CLIENT_ID=
MS_CLIENT_SECRET=

# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=